<!DOCTYPE html>
<html lang=en>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <body>
      <div class="container">
        {% include 'partials/nav.html' %}
        {% block content %}{% endblock content %}
      </div>
    </body>
  </head>
</html>
