{% extends "base.html" %}

{% block content %}
  <h1>Hello World!</h1>
  <p>This is html from the base template.</p>
  <br>
  <h2>Testing render method context to template variable interpolation</h2>
  <p>The test variable value is: {{ test_var }}</p>
  <p>The users are:</p>
  <ul>
    {% for user in users %}
    <li>Username: {{ user.username }} ({{ user.nickname }})</li>
    {% endfor %}
  </ul>
{% endblock content %}
